<script lang="ts">
import Vue from 'vue';
import Tabs from './tabs.vue';

export default Vue.extend({
  components: {
    Tabs,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      headers: [],
      selectedTab: 0,
      baseHarveyUrl: '/nuxt-images/competition/',
    };
  },
  methods: {
    setSelectedTab(value: number) {
      this.selectedTab = value;
    },
  },
});
</script>

<template>
  <div class="tab-overview">
    <div>
      <SlpTypography class="slp-mt-96 title" variant="heading2-bold" tag="h2">{{
        data.title
      }}</SlpTypography>
      <div class="slp-mt-24 comparisons">
        <div
          v-for="comparison in data.comparisons"
          :key="comparison.title"
          class="comparison"
        >
          <SlpTypography variant="heading5-bold" tag="p">{{
            comparison.title
          }}</SlpTypography>
          <nuxt-img
            class="slp-mt-8 comparison__img"
            :src="comparison.image"
            loading="lazy"
          />
        </div>
      </div>
      <SlpTypography
        class="slp-mt-48 slp-mb-32"
        variant="heading5-bold"
        tag="h3"
        >{{ data.description }}</SlpTypography
      >
    </div>
    <Tabs
      :data="data"
      :show-in-mobile="true"
      :selected-tab="selectedTab"
      @tab-change="setSelectedTab"
    />
    <div class="tab-overview__container">
      <SlpRow class="cards">
        <div class="mobile-icon">
          <SlpIcon
            class="icon"
            :name="data.tabs[selectedTab].header.icon"
            variant="marketing"
            size="md"
          />
          <SlpTypography variant="body2">{{
            data.tabs[selectedTab].header.text
          }}</SlpTypography>
        </div>
        <SlpColumn v-if="data.tabs[selectedTab].left_card" class="slp-mr-32">
          <SlpTypography variant="heading5-bold" tag="h3">{{
            data.tabs[selectedTab].left_card.title
          }}</SlpTypography>
          <SlpTypography variant="body1" tag="p">
            <div
              v-if="data.tabs[selectedTab].left_card.description"
              class="slp-mt-32 multi-line-paragraph"
              v-html="$md.render(data.tabs[selectedTab].left_card.description)"
            >
              {{ data.tabs[selectedTab].left_card.description }}
            </div>
          </SlpTypography>
        </SlpColumn>
        <SlpColumn
          v-if="data.tabs[selectedTab].right_card"
          class="right-card slp-p-32"
        >
          <SlpTypography variant="heading5-bold" tag="h3">{{
            data.tabs[selectedTab].right_card.title
          }}</SlpTypography>
          <ul class="slp-mt-24">
            <li
              v-for="(bullet, index) in data.tabs[selectedTab].right_card
                .bullets"
              :key="index"
              class="slp-mt-24 list-item"
            >
              <SlpIcon
                class="slp-mr-16 slp-mt-2"
                size="sm"
                variant="product"
                name="check"
                slp-color="accent-400"
              />
              <SlpTypography
                class="right-card__content"
                variant="body1"
                tag="p"
              >
                <div v-html="$md.render(bullet.title)">{{ bullet.title }}</div>
              </SlpTypography>
            </li>
          </ul>
          <SlpButton
            class="zero-padding slp-mt-32"
            variant="tertiary"
            :href="data.tabs[selectedTab].right_card.button.link"
          >
            {{ data.tabs[selectedTab].right_card.button.text }}
            <SlpIcon
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </SlpColumn>
      </SlpRow>
    </div>
  </div>
</template>

<style lang="scss" scoped>
a {
  color: $color-text-300;
}
.mobile-icon {
  display: none;
  margin-bottom: $spacing-32;
  color: $color-accent-500;
  .icon {
    margin-bottom: $spacing-8;
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.tab-overview {
  margin-top: $spacing-32;
  margin-bottom: $spacing-48;
  &__container {
    box-shadow: 0px 8px 50px -16px #d1d0d3;
    border-radius: 8px;
    .cards {
      padding: 48px 95px;
      @media (max-width: $breakpoint-lg) {
        padding: 24px;
      }
    }
  }
}

.competition {
  background: $color-surface-100;
}

.title {
  margin-top: 96px;
}

.zero-padding {
  padding-left: 0px;
}

.multi-line-paragraph {
  &:deep p {
    &:not(:first-child) {
      margin-top: $spacing-16;
    }
  }

  &:deep strong {
    font-weight: 600;
  }
}

.comparisons {
  display: flex;

  .comparison {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(even) {
      margin-left: $spacing-64;
    }

    .comparison__img {
      width: 32px;
      height: 32px;
    }
  }
}

.right-card {
  background-color: $color-surface-800;
  height: max-content;

  @media (max-width: $breakpoint-md) {
    background-color: $color-surface-50;
    padding-left: 0;
  }

  &__content {
    &:deep ul {
      list-style: disc;

      li {
        margin-left: $spacing-24;
      }
    }

    &:deep li {
      margin-top: $spacing-8;
    }
  }
}

.slp-mt-2 {
  margin-top: 2px;
}

.list-item {
  display: flex;
}
</style>
